Repository alibahadirabra/traquentsolution: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  range: 60..90
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        flags:
          - server
    patch:
      default:
        target: 85%
        threshold: 0%
        only_pulls: true
        if_ci_failed: ignore
        flags:
          - server

comment:
  layout: "diff, flags"
  require_changes: true
  show_critical_paths: true

flags:
  server:
    paths:
      - "**/*.py"
    carryforward: true
  ui-tests:
    paths:
      - "**/*.js"
    carryforward: true
  server-ui:
    paths:
      - "**/*.py"
    carryforward: true

profiling:
   critical_files_paths:
      - /traquent/api.py
      - /traquent/app.py
      - /traquent/auth.py
      - /traquent/boot.py
      - /traquent/client.py
      - /traquent/handler.py
      - /traquent/migrate.py
      - /traquent/sessions.py
      - /traquent/utils/*
      - /traquent/desk/reportview.py
      - /traquent/desk/form/*
      - /traquent/model/*
      - /traquent/core/doctype/doctype/*
      - /traquent/core/doctype/data_import/*
      - /traquent/core/doctype/user/*
      - /traquent/core/doctype/user/*
      - /traquent/query_builder/*
      - /traquent/database/*

a
  yarn.lock
Due: none

a
  package.json
Due: none

a
  .github/workflows/publish-assets-develop.yml
  traquent/build.py
Due: server, server-ui

a
  esbuild/traquent-html.js
  esbuild/traquent-vue-style.js
Due: ui-tests

ha
  package.json
Due: none

aa
  package.json
Due: none

a
  esbuild/esbuild.js
  package.json
Due: ui-tests

a
  traquent/public/js/traquent/ui/chart.js
  traquent/public/scss/desk.bundle.scss
Due: ui-tests

a
  package.json
  traquent/public/js/traquent/data_import/import_preview.js
  traquent/public/js/traquent/ui/datatable.js
  traquent/public/js/traquent/views/reports/query_report.js
  traquent/public/js/traquent/views/reports/report_view.js
  traquent/public/scss/report.bundle.scss
  traquent/public/scss/web_form.bundle.scss
Due: ui-tests

a
  package.json
  traquent/public/js/traquent/views/gantt/gantt_view.js
Due: ui-tests

a
  traquent/integrations/traquent_providers/__init__.py
  traquent/integrations/traquent_providers/frappecloud.py
  yarn.lock
Due: server, server-ui

a
  traquent/public/scss/desk/index.scss
Due: none

a
  traquent/boot.py
  traquent/utils/change_log.py
Due: server, server-ui

a
  traquent/core/doctype/server_script/test_server_script.py
  traquent/core/doctype/user/test_user.py
  traquent/email/frappemail.py
  traquent/tests/test_auth.py
  traquent/tests/test_frappe_client.py
  traquent/tests/test_perf.py
  traquent/utils/safe_exec.py
Due: server, server-ui

a
  traquent/email/doctype/email_account/email_account.py
  traquent/email/doctype/email_queue/email_queue.py
Due: server, server-ui

a
  hooks.md
  traquent/email/doctype/email_queue/email_queue.py
  traquent/hooks.py
Due: server, server-ui

a
  hooks.md
  traquent/public/js/traquent-web.bundle.js
Due: ui-tests

traquent v1 update
  traquent/public/icons/timeless/icons.svg
  traquent/public/images/dashboard.png
  traquent/public/images/frame.png
  traquent/public/js/traquent/form/controls/data.js
  traquent/public/js/traquent/form/controls/link.js
  traquent/public/js/traquent/form/controls/select.js
  traquent/public/js/traquent/model/indicator.js
  traquent/public/scss/common/buttons.scss
  traquent/public/scss/common/controls.scss
  traquent/public/scss/common/css_variables.scss
  traquent/public/scss/common/form.scss
  traquent/public/scss/common/global.scss
  traquent/public/scss/common/grid.scss
  traquent/public/scss/common/indicator.scss
  traquent/public/scss/common/modal.scss
  traquent/public/scss/desk.bundle.scss
  traquent/public/scss/desk/desktop.scss
  traquent/public/scss/desk/form.scss
  traquent/public/scss/desk/global.scss
  traquent/public/scss/desk/toast.scss
  traquent/public/scss/element/checkbox.scss
  traquent/public/scss/element/radio.scss
  traquent/public/scss/espresso/_borders.scss
  traquent/public/scss/espresso/_colors.scss
  traquent/public/scss/espresso/_typography.scss
  traquent/public/scss/login.bundle.scss
  traquent/public/scss/website/base.scss
  traquent/templates/includes/login/login.js
  traquent/www/login.html
Due: ui-tests

areas removed from navigation
  traquent/public/js/traquent/ui/toolbar/navbar.html
Due: none

traquent v1 dashboard
  traquent/locale/tr.po
  traquent/public/icons/timeless/icons.svg
  traquent/public/js/traquent/list/list_view.js
  traquent/public/js/traquent/ui/page.js
  traquent/public/js/traquent/ui/toolbar/navbar.html
  traquent/public/js/traquent/views/breadcrumbs.js
  traquent/public/js/traquent/views/workspace/workspace.js
  traquent/public/js/traquent/widgets/shortcut_widget.js
  traquent/public/scss/common/buttons.scss
  traquent/public/scss/common/controls.scss
  traquent/public/scss/common/form.scss
  traquent/public/scss/common/grid.scss
  traquent/public/scss/common/icon_picker.scss
  traquent/public/scss/common/icons.scss
  traquent/public/scss/desk.bundle.scss
  traquent/public/scss/desk/breadcrumb.scss
  traquent/public/scss/desk/desktop.scss
  traquent/public/scss/desk/form.scss
  traquent/public/scss/desk/global.scss
  traquent/public/scss/desk/list.scss
  traquent/public/scss/desk/navbar.scss
  traquent/public/scss/desk/page.scss
  traquent/public/scss/desk/variables.scss
  traquent/public/scss/espresso/_colors.scss
  traquent/public/scss/espresso/_typography.scss
  traquent/www/login.html
Due: ui-tests

login text düzeltildi
  traquent/www/login.html
Due: none

başlıklar kaldırıldı
  traquent/public/js/traquent/views/workspace/workspace.js
  traquent/public/scss/desk/desktop.scss
Due: ui-tests

mobil login ve bazı düzeltmeler
  traquent/core/page/permission_manager/permission_manager.css
  traquent/public/js/traquent/form/controls/link.js
  traquent/public/js/traquent/form/grid_row_form.js
  traquent/public/js/traquent/ui/page.js
  traquent/public/scss/common/controls.scss
  traquent/public/scss/desk/form.scss
  traquent/public/scss/desk/page.scss
  traquent/public/scss/login.bundle.scss
  traquent/www/login.html
Due: ui-tests

a
  traquent/public/js/traquent/ui/toolbar/awesome_bar.js
Due: ui-tests

aaa
  traquent/public/js/traquent/ui/theme_switcher.js
Due: ui-tests

a
  traquent/public/js/traquent/ui/theme_switcher.js
Due: ui-tests

actions button
  traquent/public/js/traquent/ui/page.js
  traquent/www/login.html
Due: ui-tests

login düzeltildi
  traquent/locale/tr.po
  traquent/www/login.html
Due: none
