Repository alibahadirabra/traquentsolution: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  range: 60..90
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        flags:
          - server
    patch:
      default:
        target: 85%
        threshold: 0%
        only_pulls: true
        if_ci_failed: ignore
        flags:
          - server

comment:
  layout: "diff, flags"
  require_changes: true
  show_critical_paths: true

flags:
  server:
    paths:
      - "**/*.py"
    carryforward: true
  ui-tests:
    paths:
      - "**/*.js"
    carryforward: true
  server-ui:
    paths:
      - "**/*.py"
    carryforward: true

profiling:
   critical_files_paths:
      - /traquent/api.py
      - /traquent/app.py
      - /traquent/auth.py
      - /traquent/boot.py
      - /traquent/client.py
      - /traquent/handler.py
      - /traquent/migrate.py
      - /traquent/sessions.py
      - /traquent/utils/*
      - /traquent/desk/reportview.py
      - /traquent/desk/form/*
      - /traquent/model/*
      - /traquent/core/doctype/doctype/*
      - /traquent/core/doctype/data_import/*
      - /traquent/core/doctype/user/*
      - /traquent/core/doctype/user/*
      - /traquent/query_builder/*
      - /traquent/database/*

worksapcedeki new butonu gizlendi
  traquent/public/js/traquent/views/workspace/workspace.js
Due: ui-tests

badgelere ikon eklendi, kaldırılması istenen seçenecekler, login düzeni, view website sayfası düzenlendi
  traquent/public/js/traquent/list/list_view.js
  traquent/public/js/traquent/model/indicator.js
  traquent/public/js/traquent/views/reports/query_report.js
  traquent/public/scss/common/indicator.scss
  traquent/public/scss/desk/global.scss
  traquent/public/scss/desk/navbar.scss
  traquent/public/scss/desk/variables.scss
  traquent/public/scss/espresso/_colors.scss
  traquent/public/scss/login.bundle.scss
  traquent/public/scss/website.bundle.scss
  traquent/templates/includes/login/login.js
  traquent/www/login.html
  traquent/www/me.html
  traquent/www/update-password.html
Due: ui-tests

sidebarin sayfa soluna alınması işlemleri
  traquent/locale/tr.po
  traquent/public/icons/espresso/icons.svg
  traquent/public/icons/timeless/icons.svg
  traquent/public/images/traquent_main_logo_icon.svg
  traquent/public/images/traquent_white_logo_icon.svg
  traquent/public/js/traquent/ui/sidebar.html
  traquent/public/js/traquent/ui/sidebar.js
  traquent/public/js/traquent/ui/toolbar/awesome_bar.js
  traquent/public/js/traquent/ui/toolbar/navbar.html
  traquent/public/js/traquent/ui/toolbar/toolbar.js
  traquent/public/scss/common/css_variables.scss
  traquent/public/scss/common/global.scss
  traquent/public/scss/desk/avatar.scss
  traquent/public/scss/desk/sidebar.scss
Due: ui-tests

sidebar düzenlemesi
  traquent/public/js/traquent/ui/sidebar.js
Due: ui-tests

sidebar düzenlemesi ve top header alanı düzenlendi
  traquent/public/js/traquent/form/controls/select.js
  traquent/public/js/traquent/ui/sidebar.js
  traquent/public/js/traquent/ui/toolbar/awesome_bar.js
  traquent/public/scss/common/css_variables.scss
  traquent/public/scss/common/global.scss
  traquent/public/scss/desk/form.scss
  traquent/public/scss/desk/navbar.scss
  traquent/public/scss/desk/page.scss
Due: ui-tests

testi yapılan değişiklikler
  traquent/public/icons/timeless/icons.svg
  traquent/public/images/traquent_gray.png
  traquent/public/js/traquent/dom.js
  traquent/public/js/traquent/form/grid.js
  traquent/public/js/traquent/form/grid_pagination.js
  traquent/public/js/traquent/list/list_view.js
  traquent/public/js/traquent/ui/filters/edit_filter.html
  traquent/public/js/traquent/ui/filters/filter_list.js
  traquent/public/js/traquent/ui/page.html
  traquent/public/js/traquent/ui/page.js
  traquent/public/js/traquent/ui/sidebar.html
  traquent/public/js/traquent/ui/sidebar.js
  traquent/public/js/traquent/views/dashboard/dashboard_view.js
  traquent/public/js/traquent/web_form/web_form_list.js
  traquent/public/scss/common/awesomeplete.scss
  traquent/public/scss/common/buttons.scss
  traquent/public/scss/common/controls.scss
  traquent/public/scss/common/css_variables.scss
  traquent/public/scss/common/form.scss
  traquent/public/scss/common/icons.scss
  traquent/public/scss/common/modal.scss
  traquent/public/scss/desk/css_variables.scss
  traquent/public/scss/desk/dark.scss
  traquent/public/scss/desk/desktop.scss
  traquent/public/scss/desk/filters.scss
  traquent/public/scss/desk/form.scss
  traquent/public/scss/desk/global.scss
  traquent/public/scss/desk/list.scss
  traquent/public/scss/desk/navbar.scss
  traquent/public/scss/desk/page.scss
  traquent/public/scss/desk/sidebar.scss
  traquent/public/scss/desk/variables.scss
  traquent/public/scss/element/checkbox.scss
  traquent/public/scss/element/radio.scss
  traquent/public/scss/espresso/_colors.scss
  traquent/templates/includes/list/list.html
Due: ui-tests

a
  traquent/api/gettoken.py
  traquent/api/validatetoken.py
Due: server, server-ui

a
  .github/workflows/publish-assets-develop.yml
  get-pip.py
  package.json
  traquent/boot.py
  traquent/core/doctype/server_script/test_server_script.py
  traquent/core/doctype/user/test_user.py
  traquent/email/doctype/email_account/email_account.py
  traquent/email/doctype/email_queue/email_queue.py
  traquent/email/traquentmail.py
  traquent/hooks.py
  traquent/tests/test_auth.py
  traquent/tests/test_frappe_client.py
  traquent/tests/test_perf.py
  traquent/traquentclient.py
  traquent/utils/change_log.py
  traquent/utils/safe_exec.py
  traquent/utils/traquentcloud.py
Due: server, server-ui

a
  traquent/api/getCustomer.py
Due: server, server-ui

workspace renk kart düzenlemesi
  traquent/public/scss/desk/desktop.scss
Due: none

a
  traquent/api/gettoken.py
Due: server, server-ui

a
  traquent/api/getCustomer.py
  traquent/api/gettoken.py
Due: server, server-ui

aa
  traquent/api/gettoken.py
Due: server, server-ui

güncelleme düzeltmeleri
  traquent/public/icons/timeless/icons.svg
  traquent/public/js/traquent/ui/page.js
  traquent/public/js/traquent/ui/sidebar.js
  traquent/public/js/traquent/views/breadcrumbs.js
  traquent/public/js/traquent/widgets/chart_widget.js
  traquent/public/js/traquent/widgets/number_card_widget.js
  traquent/public/scss/common/buttons.scss
  traquent/public/scss/common/controls.scss
  traquent/public/scss/common/form.scss
  traquent/public/scss/common/grid.scss
  traquent/public/scss/desk/breadcrumb.scss
  traquent/public/scss/desk/desktop.scss
  traquent/public/scss/desk/list.scss
  traquent/public/scss/desk/page.scss
  traquent/public/scss/espresso/_colors.scss
  traquent/templates/emails/login_with_email_link.html
  traquent/www/apps.css
Due: ui-tests

aa
  traquent/api/getCustomer.py
Due: server, server-ui

search düzenlemesi ve bulunan hatalar
  traquent/public/js/traquent/ui/toolbar/awesome_bar.js
  traquent/public/js/workflow_builder/workflow_builder.bundle.js
  traquent/public/scss/common/controls.scss
  traquent/public/scss/common/css_variables.scss
  traquent/public/scss/common/grid.scss
  traquent/public/scss/desk/dark.scss
  traquent/public/scss/desk/desktop.scss
  traquent/public/scss/desk/form.scss
  traquent/public/scss/desk/print_preview.scss
  traquent/public/scss/desk/toast.scss
  traquent/public/scss/website/navbar.scss
Due: ui-tests

font kütüphanesi değişti --figtree
  traquent/public/css/fonts/figtree/Figtree-Black.ttf
  traquent/public/css/fonts/figtree/Figtree-BlackItalic.ttf
  traquent/public/css/fonts/figtree/Figtree-Bold.ttf
  traquent/public/css/fonts/figtree/Figtree-BoldItalic.ttf
  traquent/public/css/fonts/figtree/Figtree-ExtraBold.ttf
  traquent/public/css/fonts/figtree/Figtree-ExtraBoldItalic.ttf
  traquent/public/css/fonts/figtree/Figtree-Italic-VariableFont_wght.ttf
  traquent/public/css/fonts/figtree/Figtree-Italic.ttf
  traquent/public/css/fonts/figtree/Figtree-Light.ttf
  traquent/public/css/fonts/figtree/Figtree-LightItalic.ttf
  traquent/public/css/fonts/figtree/Figtree-Medium.ttf
  traquent/public/css/fonts/figtree/Figtree-MediumItalic.ttf
  traquent/public/css/fonts/figtree/Figtree-Regular.ttf
  traquent/public/css/fonts/figtree/Figtree-SemiBold.ttf
  traquent/public/css/fonts/figtree/Figtree-SemiBoldItalic.ttf
  traquent/public/css/fonts/figtree/Figtree-VariableFont_wght.ttf
  traquent/public/css/fonts/figtree/figtree.css
  traquent/public/css/fonts/figtree/figtree.scss
  traquent/public/images/traquent_gray.png
  traquent/public/images/traquent_logo.png
  traquent/public/scss/desk.bundle.scss
  traquent/public/scss/espresso/_typography.scss
  traquent/public/scss/website.bundle.scss
  traquent/public/scss/website/index.scss
  traquent/website/doctype/website_theme/website_theme_template.scss
Due: none

traquent son güncellemeler
  traquent/core/page/dashboard_view/dashboard_view.js
  traquent/public/icons/timeless/icons.svg
  traquent/public/js/traquent/form/controls/data.js
  traquent/public/js/traquent/form/grid_row.js
  traquent/public/js/traquent/list/list_view.js
  traquent/public/js/traquent/ui/page.js
  traquent/public/js/traquent/ui/sidebar.js
  traquent/public/js/traquent/ui/toolbar/awesome_bar.js
  traquent/public/js/traquent/views/inbox/inbox_view.js
  traquent/public/scss/common/buttons.scss
  traquent/public/scss/common/controls.scss
  traquent/public/scss/common/css_variables.scss
  traquent/public/scss/common/grid.scss
  traquent/public/scss/common/indicator.scss
  traquent/public/scss/desk/dark.scss
  traquent/public/scss/desk/desktop.scss
  traquent/public/scss/desk/frappe_datatable.scss
  traquent/public/scss/desk/global.scss
  traquent/public/scss/desk/kanban.scss
  traquent/public/scss/desk/list.scss
  traquent/public/scss/desk/page.scss
  traquent/public/scss/desk/report.scss
  traquent/public/scss/desk/sidebar.scss
  traquent/public/scss/desk/toast.scss
  traquent/public/scss/desk/variables.scss
  traquent/public/scss/element/checkbox.scss
  traquent/public/scss/espresso/_colors.scss
  traquent/public/scss/espresso/_typography.scss
  traquent/public/scss/website/index.scss
Due: ui-tests

Update gettoken.py
  traquent/api/gettoken.py
Due: server, server-ui

g
  traquent/api/gettoken.py
Due: server, server-ui
